<%- include('partials/header2.ejs'); %>

<form action="/forgetPass" method="post">
        <div class="container">
          <table>
            <tr>
              <td class="mail">Enter Username:</td>
              <td><input type="text" class="form-control"></td>
            </tr>
          </table>
          
            <h1 class="header">Click the button to send password to your registered mail.</h1>
          </div>
          <button type="submit" class="btn btn-primary btn-lg botton">Send</button>
    </form>
</body>
</html>
