<%- include('partials/header2.ejs'); %>

    <form action="/newuser" method="post">
      <div class="container">
        <h1 class="header">Account Created Successfully.Please Login</h1>
      </div>
      <button type="submit" class="btn btn-primary btn-lg botton">Login</button>
    </form>
  </body>
</html>
